.vs/
StudyAreas/
Debug/
Release/
*.log
*.obj
*.exe
*.tlog
*.pch
Source/enc_temp_folder/
Source/EnvLibs/boost/
*.dll
*.dll
*.dll
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
*.pdb
*.dll
*.pyc
*.pyc
