.vs/
StudyAreas/
Debug/
Release/
*.log
*.obj
*.exe
*.tlog
*.pch
Source/enc_temp_folder/
Source/EnvLibs/boost/
*.dll
*.dll
*.dll
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
*.pdb
*.dll
*.pyc
*.pyc
Publishing/__pycache__/EnvPublishCommon.cpython-311.pyc
Publishing/__pycache__/EnvPublishMapsToWeb.cpython-311.pyc
Publishing/__pycache__/EnvPublishMapsToWeb.cpython-37.pyc
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
Source/SetupMSIX/Envision/COCNH.dll
Source/SetupMSIX/Envision/CVA.dll
Source/SetupMSIX/Envision/Developer.dll
Source/SetupMSIX/Envision/DynamicVeg.dll
Source/SetupMSIX/Envision/Economy.dll
Source/SetupMSIX/Envision/EnvEngine.dll
Source/SetupMSIX/Envision/FieldCalc.dll
/Publishing/__pycache__/EnvPublishMapsToWeb.cpython-37.pyc
/Publishing/__pycache__/EnvPublishMapsToWeb.cpython-311.pyc
/Publishing/__pycache__/EnvPublishCommon.cpython-311.pyc
/Source/SetupMSIX/Envision/UrbanDev.dll
/Source/SetupMSIX/Envision/Trigger.dll
/Source/SetupMSIX/Envision/Transitions.dll
/Source/SetupMSIX/Envision/TerrBiodiv.dll
/Source/SetupMSIX/Envision/Target.dll
/Source/SetupMSIX/Envision/Sync.dll
/Source/SetupMSIX/Envision/SSTM.dll
/Source/SetupMSIX/Envision/SpatialAllocator2.dll
/Source/SetupMSIX/Envision/SpatialAllocator.dll
/Source/SetupMSIX/Envision/SNIP.dll
/Source/SetupMSIX/Envision/Reporter.dll
/Source/SetupMSIX/Envision/PSWCP.dll
/Source/SetupMSIX/Envision/Modeler.dll
/Source/SetupMSIX/Envision/LPJGuess.dll
/Source/SetupMSIX/Envision/HBV.dll
/Source/SetupMSIX/Envision/Flow.dll
/Source/SetupMSIX/Envision/FlammapAP.dll
/Source/SetupMSIX/Envision/FlameLenDisturbHandler.dll
/Source/SetupMSIX/Envision/FieldCalc.dll
/Source/SetupMSIX/Envision/EnvWinLibs.dll
/Source/SetupMSIX/Envision/EnvLibs.dll
/Source/SetupMSIX/Envision/EnvEngine.dll
/Source/SetupMSIX/Envision/Economy.dll
/Source/SetupMSIX/Envision/DynamicVeg.dll
/Source/SetupMSIX/Envision/Developer.dll
/Source/SetupMSIX/Envision/CVA.dll
/Source/SetupMSIX/Envision/COCNH.dll
/Source/SetupMSIX/Envision/ChronicHazards.dll
/Source/SetupMSIX/Envision/AcuteHazards.dll
*.pyc
Publishing/__pycache__/EnvPublishCommon.cpython-311.pyc
Publishing/__pycache__/EnvPublishMapsToWeb.cpython-311.pyc
Publishing/__pycache__/EnvPublishMapsToWeb.cpython-37.pyc
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
Source/SetupMSIX/Envision/COCNH.dll
Source/SetupMSIX/Envision/CVA.dll
Source/SetupMSIX/Envision/Developer.dll
Source/SetupMSIX/Envision/DynamicVeg.dll
Source/SetupMSIX/Envision/Economy.dll
Source/SetupMSIX/Envision/EnvEngine.dll
Source/SetupMSIX/Envision/EnvLibs.dll
Source/SetupMSIX/Envision/EnvWinLibs.dll
Source/SetupMSIX/Envision/FieldCalc.dll
Source/SetupMSIX/Envision/FlameLenDisturbHandler.dll
Source/SetupMSIX/Envision/FlammapAP.dll
Source/SetupMSIX/Envision/Flow.dll
Source/SetupMSIX/Envision/HBV.dll
Source/SetupMSIX/Envision/LPJGuess.dll
Source/SetupMSIX/Envision/Modeler.dll
Source/SetupMSIX/Envision/PSWCP.dll
Source/SetupMSIX/Envision/Reporter.dll
Source/SetupMSIX/Envision/SNIP.dll
Source/SetupMSIX/Envision/SpatialAllocator.dll
Source/SetupMSIX/Envision/SpatialAllocator2.dll
Source/SetupMSIX/Envision/SSTM.dll
Source/SetupMSIX/Envision/Sync.dll
Source/SetupMSIX/Envision/Target.dll
Source/SetupMSIX/Envision/TerrBiodiv.dll
Source/SetupMSIX/Envision/Transitions.dll
Source/SetupMSIX/Envision/Trigger.dll
Source/SetupMSIX/Envision/UrbanDev.dll
Source/SetupMSIX/obj/project.assets.json
Source/SetupMSIX/obj/project.nuget.cache
Source/SetupMSIX/obj/SetupMSIX.wapproj.nuget.dgspec.json
Source/SetupMSIX/obj/SetupMSIX.wapproj.nuget.g.props
Source/SetupMSIX/BundleArtifacts/SetupMSIX.appinstaller.xml
Source/SetupMSIX/BundleArtifacts/x64.txt
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
Source/SetupMSIX/Envision/COCNH.dll
Source/SetupMSIX/Envision/DynamicVeg.dll
Source/SetupMSIX/Envision/EnvEngine.dll
Source/SetupMSIX/Envision/EnvLibs.dll
Source/SetupMSIX/Envision/EnvWinLibs.dll
Source/SetupMSIX/Envision/FieldCalc.dll
Source/SetupMSIX/Envision/FlammapAP.dll
Source/SetupMSIX/Envision/Flow.dll
Source/SetupMSIX/Envision/HBV.dll
Source/SetupMSIX/Envision/LPJGuess.dll
Source/SetupMSIX/Envision/Modeler.dll
Source/SetupMSIX/Envision/Package.appxmanifest
Source/SetupMSIX/Envision/Reporter.dll
Source/SetupMSIX/Envision/SNIP.dll
Source/SetupMSIX/Envision/SpatialAllocator.dll
Source/SetupMSIX/Envision/SpatialAllocator2.dll
Source/SetupMSIX/Envision/Sync.dll
Source/SetupMSIX/Envision/Target.dll
Source/SetupMSIX/Envision/Trigger.dll
Source/SetupMSIX/Envision/UGMFC64.dll
Source/SetupMSIX/Envision/UrbanDev.dll
Source/SetupMSIX/SetupMSIX.wapproj
Source/SetupMSIX/SetupMSIX.wapproj.user
Publishing/__pycache__/EnvPublishMapsToWeb.cpython-37.pyc
Source/SetupMSIX/Envision/AcuteHazards.dll
Source/SetupMSIX/Envision/ChronicHazards.dll
Source/SetupMSIX/Envision/COCNH.dll
Source/SetupMSIX/Envision/CVA.dll
Source/SetupMSIX/Envision/Developer.dll
Source/SetupMSIX/Envision/DynamicVeg.dll
Source/SetupMSIX/Envision/Economy.dll
Source/SetupMSIX/Envision/EnvEngine.dll
Source/SetupMSIX/Envision/EnvLibs.dll
Source/SetupMSIX/Envision/EnvWinLibs.dll
Source/SetupMSIX/Envision/FieldCalc.dll
Source/SetupMSIX/Envision/FlameLenDisturbHandler.dll
Source/SetupMSIX/Envision/FlammapAP.dll
Source/SetupMSIX/Envision/Flow.dll
Source/SetupMSIX/Envision/HBV.dll
Source/SetupMSIX/Envision/LPJGuess.dll
Source/SetupMSIX/Envision/Modeler.dll
Source/SetupMSIX/Envision/PSWCP.dll
Source/SetupMSIX/Envision/Reporter.dll
Source/SetupMSIX/Envision/SNIP.dll
Source/SetupMSIX/Envision/SpatialAllocator.dll
Source/SetupMSIX/Envision/SpatialAllocator2.dll
Source/SetupMSIX/Envision/SSTM.dll
Source/SetupMSIX/Envision/Sync.dll
Source/SetupMSIX/Envision/Target.dll
Source/SetupMSIX/Envision/TerrBiodiv.dll
Source/SetupMSIX/Envision/Transitions.dll
Source/SetupMSIX/Envision/Trigger.dll
Source/SetupMSIX/Envision/UGMFC64.dll
Source/SetupMSIX/Envision/UrbanDev.dll
Source/SetupMSIX/obj/project.assets.json
Source/SetupMSIX/obj/project.nuget.cache
Source/SetupMSIX/obj/SetupMSIX.wapproj.nuget.dgspec.json
Source/SetupMSIX/obj/SetupMSIX.wapproj.nuget.g.props
Source/SetupMSIX/SetupMSIX.assets.cache
